{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
{#        Instructions#}
        实验指南
    </h3>
    <p>
{#        You have been randomly and anonymously grouped with other players.#}
{#        All players see these same instructions.#}
        你与其他一些人被随机的分为了一组。参与这一实验的所有被试，都阅读同样的实验指南。
    </p>

    <p>
        你的任务是与其他人一同参与一项拍卖。在出价前，每一位参与拍卖的人都将获得一个所拍卖物品估价（对真实价值的估计）。不同的参与者将获得
        不同的估价。拍卖物品的实际价值对于所有参与拍卖的人来说是一样的，并且所有参与拍卖的人都会在拍卖结束后获知这一实际的价值。
{#        Your task will be to bid for an item that is being auctioned.#}
{#        Prior to bidding, each player will be given an estimate of the actual#}
{#        value of the item. The estimates may be different between players.#}
{#        The actual value of the item, which is common to all players, will be#}
{#        revealed after the bidding has taken place.#}
    </p>

    <p>
        基于对实际价值的估计，每一位参与者都将提交一个出价。出价信息是不公开的并且所有人在同一时间提交出价。
{#        Based on the value estimate, each player will submit a single bid#}
{#        within a given range.#}
{#        All bids are private and submitted at the same time.#}
    </p>

    <p>
        出价最高的人将获得拍卖的物品，他所获得的收益是物品真是的价值减去自己的出价。如果赢得物品的人出价超过了物品的真实价值，他/她将获得0元
        收益。如果有超过一人成为了最高的出价者，计算机将随机决定一名赢家。
{#        The highest bidder will receive the actual value of the item as payoff#}
{#        minus their own bid amount.#}
{#        If the winner's bid amount is higher than the actual value of the item,#}
{#        the payoff will be zero.#}
{#        In the event of a tie between two or more players, the winner will be#}
{#        chosen at random. Other players will receive nothing.#}
    </p>
</div>
