{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
{#        Instructions#}
        实验指南
    </h3>

    <p>
        在本实验中，你将随机且匿名的与另一名被试分为一组。在此项研究中，你们中的一人会担任角色1，另一人担任角色2。在你进行决策前，
        你会被告知自己扮演的角色。注意，角色是电脑随机决定的。
{#        You will be paired randomly and anonymously with another participant.#}
{#        In this study, one of you will be Participant 1 and the other#}
{#        Participant 2. Prior to making a decision, you will learn your role,#}
{#        which will be randomly assigned.#}
    </p>
    <p>
        在本轮中，有{{ Constants.endowment }}的钱来分配。角色1将决定自己从该笔钱中留下多少，剩下的钱将分给角色2。
{#        There is {{ Constants.endowment }} to split. Participant 1 will#}
{#        decide how much she or he will retain. Then the rest will go to#}
{#        Participant 2.#}
    </p>
</div>
