{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        In this experiment, you will make a series of investment decisions. In each round of the experiment, you
    will be given a budget and have an opportunity to invest. Both the rate of return and odd of success will be provided.
    </p>
    <p>
        The earnings from the investment are calculated as follows: <u>Investment Return = Return Rate * Investment Amount</u>.
        Your total earning from a certain round will be: <u>Total Earnings = Budget + Investment Return</u> if the investment is
        successful; <u>Total Earnings = Budget - Investment Amount</u> if the investment fails.
    </p>
    <p>
        At the end of the experiment, one round will be randomly chosen for payment and your total earnings from that
    round will be your final earnings for the experiment.
    </p>

    {% next_button %}

{% endblock %}