{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions of Experiment 1
{% endblock %}

{% block content %}

    <p>
        In this experiment, you will work with two other group members to make a series of decisions.
        In each round of the experiment, each group member will receive the same amount of points as your budget. Your group will
        jointly decide between a lottery and a sure payoff. If your group decide to take the lottery, it will be played out
    at the end of the experiment. If your group decide to receive a sure payoff, each group member will receive that sure payoff
    divided by {{ group_size }}.
    </p>
    <p>
    <u>Determine the minimum sure payoff your group would accept</u>: after you see the lottery in each round, you and your teammates will
    be asked to each specify a minimum amount that you think your group would accept in exchange of the lottery. After all group members indicate
    their amounts, the computer will discard the highest amount and the lowest amount among the {{ group_size }} amounts.
    That is, the computer will take the median value among the {{ group_size }} amounts as the group's decision. Note that
        lotteries could pay either positive or negative amounts. In the case where a lottery pays a negative amount, you also
        need to specify a negative amount. That is, what is the minimum sure loss that you would accept in exchange of a
        possible loss provided by the lottery.
    </p>
    <p>
        <u>Determine between the lottery and the sure payoff</u>: after the group decides the minimum amount it would accept
        in exchange of the lottery, the computer will generate a random amount that is larger than the lowest payoff of the lottery
        but smaller than the highest payoff of the lottery. If this random amount is greater than or equal to the group's decided amount,
        the group will receive this random amount as its payoff. If this random amount is smaller than the group's decided amount,
        the group will keep the shown lottery.
    </p>
    <p>
        If the group ends up keeping the lottery, the computer will determine the outcome of the lottery using a random draw.
    </p>
    <p>
    At the end of the experiment, one round will be randomly picked and your payoff from the picked round will be your final payoff
    from this experiment. Since each round has a equal chance of being picked, it is in your best interest to treat every round
    as if it has been picked.
    </p>
    <p>
        <b>Please note that the amount you propose and your identity will be revealed and shared with your group members.</b>
    </p>

    {% next_button %}

{% endblock %}