{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    购买物品
{% endblock %}

{% block content %}

    <p>
    在本实验中你将有机会购买实验人员展示的物品。我们将通过如下的方式来决定你是否获得物品以及支付的价格。你需要给出
    你对于该物品所愿意支付的最高价格（如果低于此价格你将乐于购买该物品，但高于此价格你将选择不购买），亦即你的心理价位。
    以下我们解释为何你应该给出自己真实的心理价位而不应该给出低于或高于自己真实心理价位的价格
    </p>
    <p>
    在你给出自己的心理价位后，计算机将会在{{ Constants.floor_val }}到{{ Constants.ceiling_val }}之间随机抽取一个价格，如果你的心理
    价位高于此价格，你将在支付该随机价格（而不是你的心理价位）后获得该物品。如果你的心理价位低于此随机价格，你不用进行支付，当然也不会获得
    该物品。
    </p>
    <p>
    举一个简单的例子，假设你的心理价位是x，而你为了以更低的价格购入该物品，给出了一个低于自己真实心理价位的价格y。如果计算机随机抽取的价格
    在y和x之间，你将不会获得该物品，但这并不是你期望得到的结果。因为该物品对你来说价值为x，如果你给出自己真实的心理价位，你就可以以一个
    低于x的价格获得该物品。反过来说，如果你给出的价位z高于自己的真实心理价位，那么如果计算机随机抽取的价格在x和z之间，你将不得不支付这个
    高于x的随机价格来购买该物品。但是，该物品对你的价值只有x，所以这也不是你期望的到的结果。
    </p>
    <p>
    总的来说，我们的售买规则，保证了你给出自己真实的心理价位是对自己最有利的决定。
    </p>

{#    {% next_button %}#}

{% endblock %}
