{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    Decision
{% endblock %}

{% block content %}

    <p>
    You have {{ endowment }} in this round.
    </p>
    <p>The lottery has <b>{{ probability }}</b> chance to pay <b>{{ high }}</b> and <b>{{ probability_r }}</b> chance to pay <b>{{ low }}</b>.</p>

    <p>Please specify the lowest sure amount that you accept in exchange for the lottery.</p>

    {% formfield player.ce label="What is the minimum sure amount that you accept?" %}

    {% next_button %}

{#    {% include Constants.instructions_template %}#}

{% endblock %}