{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions of Experiment 2
{% endblock %}

{% block content %}

    <p>
        In this experiment, you will work with two other group members to make a series of investment decisions.
        In each round of the experiment, your group will receive a budget and has an opportunity to invest.
        Both the rate of return and odd of success will be provided.
    </p>
    <p>
    Each of you will propose an amount to invest, the actual investment amount for your group will be determined based on
        the following rule: the highest and lowest proposal among the three will be discarded and the proposal in the middle
        will determine the investment amount for the group. In other words, the median proposal of the three investment
        amounts will be used.
    </p>
    <p>
        The earnings, for the group, from the investment are calculated as follows:
        <u>Investment Return = Return Rate * Investment Amount</u>. The group's total earning from a certain round will be:
        <u>Total Earnings = Budget + Investment Return</u> if the investment is successful and
        <u>Total Earnings = Budget - Investment Amount </u> if the investment fails. Each member in the group will receive
    the same individual payoff which is the group total earning divided by {{ group_size }}.
    </p>
    <p>
        At the end of the experiment, one round will be randomly chosen for payment and your total earnings from that
    round will be your final earnings for the experiment.
    </p>
    <p>
        <b>Please note that your identity and decisions for the group will be revealed to your group members at the end of this experiment.</b>
    </p>

    {% next_button %}

{% endblock %}