{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    Investment
{% endblock %}

{% block content %}

    <p>
    Each member has {{ endowment }} in this round. The return rate of your investment is {{ return }} and the probability
        of success is {{ probability }}. Please decide how much you want your group to invest:
    </p>
    {% formfield player.investment label="How much should each member invest?" %}

    {% next_button %}

{#    {% include Constants.instructions_template %}#}

{% endblock %}