{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'cem_list/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instructions" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with n=Constants.num_choices group_size=Constants.group_size num_lists=Constants.num_rounds %}
                You will have an initial balance of {{ endowment }} to start this experiment.
                In the following, you'll complete a series of <b>group</b> tasks. There will be {{group_size}} people in
                your group (including yourself). You and each member in your group will face {{ n }} decisions listed on each of
                your screens. On each screen, you will vote for your group's choices. Each decision is a paired choice
                between "Option A" and "Option B". You will make {{ n }} votes and record these in the middle column.
                There will be a total of {{ num_lists }} screens (lists).
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with hi=lottery_hi lo=lottery_lo %}
                On each screen "Option A" is a lottery that pays {{ hi }} with certain probabilities and {{ lo }} otherwise;
                "Option B" yields a varying payoff for sure, i.e. with a probability of 100%.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=Constants.num_choices num_lists=Constants.num_rounds%}
                After you and your group members have made all of your votes for all screens, one of the screens (lists)
                will be randomly picked by the computer for payment. For all the paired choices you voted on that picked
                screen, one of the {{ n }} decisions will be randomly chosen for your group's payment. If your group,
                <b>by a majority voting rule</b>, voted to opt for "Option A" in this decision, option A will be chosen
                for your group, and it will be randomly determined (according to the  specified probability)
                whether the low or high payoff in option A will constitute your and your group members' payoff; if your
                group, <b>by a majority voting rule</b>, voted to opt for "Option B", option B will be chosen your group,
                and the respective sure amount will constitute your and your group members' payoffs.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=num_choices num_lists=Constants.num_rounds%}
                Even though you will make {{ n }} votes on each of the {{ num_lists }} screens, only one of the screen
                and one decision in that screen will end up affecting your and group members' earnings, but you will
                not know in advance which decision will be used. Each decision has an equal chance of being used in the end.
            {% endblocktrans %}
        </p>
        <br/>
        <p>
            {% blocktrans trimmed with n=num_choices %}
                To summarize: Your group will make {{ n }} choices on each screen; for each decision you will have to
                vote between "Option A" and "Option B" with a majority voting rule. You may vote A for some decision
                rows and B for other rows. When your group is finished, one screen will be randomly chosen and one of
                the {{ n }} decisions on that screen will be randomly picked for your group's payoff. If your group,
                by a majority voting rule, decided for "Option A", a random number will be drawn to determine your earnings;
                if your group, by a majority voting rule, decided for "Option B" you'll receive the respective sure amount.
                <u>All members in the same group will receive exactly the same amount which is the group payoff divided
                    by {{ group_size }}.</u>
            {% endblocktrans %}
        </p>
    </div>

    {% next_button %}
{% endblock %}